* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    z-index: 1;
    opacity: 1;
    height: 69px;
    top: 0;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header img {
    height: 50px;
    margin-left: 10px;
}

header nav {
    margin-right: 10px;
}

header li {
    display: inline;
    text-decoration: underline;
    margin: 10px
}

main {
    position: relative;
    top: 70px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 66px;
}

#mission {
    width: 90%;
    max-height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: flex-start;
    flex: 1 1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mission h2,
#mission h4 {
    width: 100%;
    padding: 0.5%;
    margin: 0;
}

#month {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
}


#teatypes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#teatypes img {
    max-width: 300px;
    max-height: 200px;
    margin: 10px;
}

.imgbox {
    display: flex;
    flex-flow: column;
}

.imgbox h4 {
    margin-top: 10px;
}


.locations {
    display: flex;
    flex-flow: column;
    height: 500px;
    width: 1200px;
    max-width: 90%;
    background-image: url(Media/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lochead h2{
    background: none;
}

#locationrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.locbox {
    display: flex;
    flex-flow: column;
    padding: 20px 15px;
    width: 300px;
}


